@model IList<BaiViet>


<div class="blogs">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_title">
					<h2>Bài Viết Gần Đây</h2>
				</div>
			</div>
		</div>
		<div class="row blogs_container">
			
			
			@foreach(var item in Model){
				<div class="col-lg-4 blog_item_col">
					<div class="blog_item">
						<div class="blog_background" style="background-image:url(@item.Anh)"></div>
						<div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
							<h4 class="blog_title">@item.TieuDe</h4>
							<span class="blog_meta">@item.NgayTao.ToString()</span>
							<a class="blog_more" asp-controller="Home" asp-action="BaiVietChiTiet" asp-route-id="@item.ID">Xem thêm</a>
						</div>
					</div>
				</div>
			}
			
		</div>
	</div>
</div>
