@model doan.Models.NguoiDung
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Chỉnh sửa thông tin người dùng</h2>
    </div>
    <form method="post" asp-action="Sua">
        <div class="form-group">
            <label asp-for="HoTen">Họ và tên</label>
            <input type="text" class="form-control" asp-for="HoTen">
        </div>
        <div class="form-group">
            <label asp-for="TaiKhoan">Tài khoản</label>
            <textarea class="form-control" asp-for="TaiKhoan"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="MatKhau">Mật khẩu</label>
            <textarea class="form-control" asp-for="MatKhau"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="SoDienThoai">Số điện thoại</label>
            <textarea class="form-control" asp-for="SoDienThoai"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="DiaChi">Địa chỉ</label>
            <textarea class="form-control" asp-for="DiaChi"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <textarea class="form-control" asp-for="Email"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Admin">Admin</label>
            <textarea class="form-control" asp-for="Admin"></textarea>
        </div>
        <div class="form-group mt-5 mb-5">
            <label>
                @Html.CheckBox("TrangThai", Model.TrangThai)
                Hiển thị
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Sửa</button>
    </form>
</main>

@{
    var summerNote = new doan.Areas.Admin.Models.SummerNote("#Content");
    <partial name="_SummerNote" model="summerNote" />
}