@model NguoiDung

	@section Styles {
		<link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
		<link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
		<link rel="stylesheet" type="text/css" href="~/login.css">
	}

	@section Scripts {
		<script src="~/js/custom.js"></script>
	}

<div class="" style="margin-top: 150px;">
    <div class="container" style="padding: 50px 0;">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Đăng ký</h3>
                                <p class="mb-2 mt-3">@TempData["msg"]</p>
                            </div>
                            <form asp-action="XLDangKy" method="post">
                                <div class="form-group first">
                                    <label for="username">Họ tên</label>
                                    <input type="text" class="form-control" asp-for="HoTen">

                                </div>
                                <div class="form-group first">
                                    <label for="username">Tài khoản</label>
                                    <input type="text" class="form-control" asp-for="TaiKhoan">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" class="form-control" asp-for="MatKhau">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Số điện thoại</label>
                                    <input type="text" class="form-control" asp-for="SoDienThoai">

                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Địa chỉ</label>
                                    <input type="text" class="form-control" asp-for="DiaChi">

                                </div>

                                <input type="submit" value="Đăng ký"
                                    class="btn btn-pill text-white btn-block btn-primary" style="cursor: pointer;">

                                <span class="d-block text-center my-4 text-muted">Bạn đã có tài khoản? <a asp-controller="TaiKhoan" asp-action="DangNhap">Đăng nhập</a></span>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>